$bg:#1976d2;
$width:1100px;
$height:44px;
:host{
    width:100%;
    height:$height;
    font-size:12px;
    header{
        width:100%;
        height:$height;
        background:$bg;
        color:#fff;
        section{
            width:$width;
            height:$height;
            margin:0 auto;
            display:flex;
            flex-flow:row nowrap;
            justify-content:space-between;
            align-items:center;
            .items{
              height:$height;
              line-height:$height;
              padding:0 10px;
              &:hover,
              &.active{
                cursor:pointer;
                background:rgba(0,0,0,.15);
              }
            }
            ul{
                li{
                    display:inline-block;
                    vertical-align: middle;
                    &:first-child{
                        margin-right:10px;
                    }
                }
            }
        }
    }
}
